*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Variables
$main-white: #fff;
$main-blue: #4bcaff; //main blue
$secondary-blue: #447084; // shadow blue
$third-blue: #131e29; //nav bg blue
$main-black: #414042; // for heading
$secondary-black: #171a1e; // hero section icon bg
$main-grey: #838383; //main paragraph
$secondary-grey: #d3d3d3; //form input placehoder
$third-grey: #69696a; //for footer text color
$main-green: #91c46b;
$main-orange: #fd7c00;

/* Global styles */
body{
    font-family: 'Lato', sans-serif;
}

.responsive{
    display: none;
}

.divider{
    height: 0.5px;
    width: 100%;
    background-color: #404d5c;
    opacity: 0.5;
}

/* Media Queries */
@media (max-width: 1900px) {
    .navbar-container,
    .hero-section,
    .features-section,
    .divider,
    .gallery-section,
    .video-section,
    .price-section{
        display: none;
    }

    .responsive{
        display: block !important;
    }
}

/* Start of navbar */
.navbar-container{
    height: 120px;
    background-color: $third-blue;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 145px;
    // justify-content: center;
    font-family: droid-sans, sans-serif;
}

.navbar-title{
    display: inline-block;
    display: flex;
    flex-direction: column;

    img{
        width: 37px;
        height: auto;
        // transform: translateX(55px);
        position: absolute;
        left: 206.5px;
        top: 25px;
    }

    h2{
        color: $main-white;
        display: inline-block;
        font-size: 45px;
        cursor: pointer;

        span{
            color: $main-blue;
        }
    }
}

.navbar-items{
    margin-left: auto;
    // float: right;

    ul{
        // float: right;
        li{
            display: inline-block;
            list-style: none;

            a{
                color: $main-white;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 17px;
                letter-spacing: 0.8px;
                cursor: pointer;
                transition: 0.3s color ease-in;
                font-weight: 600;
            }

            a:hover{
                color: $main-blue;
            }

        }

        li:not(:last-child){
            margin-right: 30px;
        }

        // li:last-child{
            // margin-right: 45px;
        // }
    }
}
/* End of navbar */
/* Start of hero section */
.hero-section{
    width: 100%;
    height: 1035px;
    background: url('../images/hero.png') no-repeat center/cover;
    // padding-top: 350px;
    // padding-left: 844px;
    display: flex;
    align-items: center;
    justify-content: center;

    .hero-content{
        margin-left: auto;
        // background-color: white;
        // width: auto;
            // height: auto;
            // margin-left: auto;
            // width: 50%;
            // height: 50%;
            // margin-top: auto;
        margin-left: 700px;
        margin-top: 85px;

        .hero-title{
            
            h1{
                color: $main-white;
                font-weight: 300;
                font-size: 65px;
                letter-spacing: 0.8px;
                margin-bottom: 35px;
            }
            
            p{
                letter-spacing: 1.2px;
                color: $main-white;
                line-height: 32px;
                font-size: 22px;
            }
        }

    }

    .hero-btn-container{
        margin-top: 50px;
        margin-bottom: 70px;

        .hero-btn-download{
            border: 1px solid $main-white;
            background-color: transparent;
            margin-right: 35px;
            transition-property: background-color;
        }

        .hero-btn-download:hover{
            background-color: $main-white;
            color: $main-black;
        
        }
    }
}
.hero-btn-download,
.main-btn{
    border: none;
    color: $main-white;
    font-size: 20px;
    letter-spacing: 0.8px;
    padding: 22px 52px;
    border-radius: 8px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.main-btn{
    background-color: $main-blue;
    box-shadow: 0 4px 1px 1px $secondary-blue;
    transition-property: opacity;
}

.main-btn:hover{
    opacity: 0.8;
}

.hero-app{
    display: flex;
    flex-direction: row;
    // justify-content: center;
    align-items: center;
    
    p{
        font-size: 22px;
        color: $main-white;
        margin-right: 45px;
        letter-spacing: 1.2px;
    }

    .app{
        width: 65px;
        height: 65px;
        background-color: $main-black;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: 0.3s ease-in background-color;

        img{
            width: 25px;
            height: auto;
        }
    }

    .app:not(:last-child){
        margin-right: 25px;
    }

    .app:hover{
        background-color: $secondary-grey;
        cursor: pointer;
    }
}
/* End of hero section */
/* Start of features section */
.features-section{
    background-color: #f9f9f9;

    .features-container{
        display: flex;
        flex-direction: row;
        // align-items: center;
        justify-content: center;
        margin-top: 100px;
        padding-bottom: 100px;

        .feature{
            // background-color: $main-black;
            margin: 0 35px;
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;

            .feature-img-container{
                width: 165px;
                height: 165px;
                background-color: $main-blue;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                margin-bottom: 45px;
            }

            h3{
                font-size: 18px;
                text-transform: uppercase;
                margin-bottom: 30px;
                color: $main-black;
                letter-spacing: 0.6px;
                cursor: pointer;
                transition: 0.3s ease-in color;
            }
            
            h3:hover{
                color: $main-blue;
            }

            p{
                color: $main-grey;
                letter-spacing: 0.8px;
                line-height: 25px;
            }
        }

    }
}

.section-title{
    width: 100%;
    text-align: center;
    padding-top: 55px;
    letter-spacing: 0.8px;

    h1{
        font-size: 45px;
        font-weight: 900;
        color: $main-black;
    }

    h2 {
        color: $main-black;
        font-weight: 400;

    }
}
/* End of features section */
/* Start of gallery section */
.gallery-section{
    width: 100%;
    height: auto;

    .gallery-container{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 100px;
        padding-bottom: 100px;

        .gallery{
            margin: 0 35px;
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            // height: 400px;
            width: 350px;

            .blue-div{
                width: 100%;
                // width: 200px;
                height: 250px;
                border-radius: 12px;
                background-color: $main-blue;
            }

            .dark-blue-container{
                background-color: $secondary-blue;
                width: 100%;
                border-bottom-left-radius: 12px;
                border-bottom-right-radius: 12px;
                transform: translateY(-40px);

                h5{
                    color: $main-blue;
                    padding: 12px 0;
                    font-size: 18px;
                    text-transform: uppercase;
                }
            }

            p{
                color: $main-grey;
                letter-spacing: 0.8px;
                line-height: 25px;
            }
        }
    }
}
/* End of gallery section */
/* Start of video section */
.video-section{
    width: 100%;
    background: url('../images/image.png') no-repeat center/cover;
    height: 762px;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    padding-top: 130px;
    padding-left: 450px;

    h1{
        color: $main-white;
        font-weight: 300;
        font-size: 65px;
        letter-spacing: 0.8px;
        margin-bottom: 65px;
        text-shadow: rgba(0, 0, 0, 0.616) 3px 2px 2px;
        // box-shadow: 3px 2px 12px 2px rgba(0,0,0,0.75);
        // -webkit-box-shadow: 3px 2px 12px 2px rgba(0,0,0,0.75);
        // -moz-box-shadow: 3px 2px 12px 2px rgba(0,0,0,0.75);
    }

    .video-section-p-container{
        width: 900px;
        transform: translateX(135px);
    }

    p{
        letter-spacing: 1.2px;
        color: $main-white;
        line-height: 32px;
        font-size: 22px;
        font-family: sans-serif;
        font-weight: 400;
    }

    p:not(:last-child){
        margin-bottom: 35px;
    }
}
/* End of video section */
/* Start of price section */
.price-section{
    width: 100%;
    height: auto;

    .package-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 85px;
        padding-bottom: 85px;

        .package{
            border: 1px solid #dad7d7;
            margin: 35px 20px;
            width: 385px;
            height: 525px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            background-color: #f9f9f9;
            border-radius: 4px;
            

            .package-title{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 90px;

                h5{
                    font-size: 23px;
                    text-transform: uppercase;
                    color: #d7d7d7;
                }
            }

            .price{
                width: 100%;
                height: 125px;
                background-color: $main-green;
                display: flex;
                align-items: center;
                justify-content: center;

                h3{
                    font-size: 98px;
                    color: $main-white;
                    font-family: droid-sans, sans-serif;
                    text-shadow: rgba(0, 0, 0, 0.295) 3px 2px 2px;
                }
            }

            .package-items{
                width: 100%;

                p{
                    font-size: 24px;
                    line-height: 42px;
                    font-weight: 700;
                    color: #d7d7d7;
                }

                p:first-child{
                    margin-top: 35px;
                }

                p:last-child{
                    margin-bottom: 35px;
                }

            }

            .package-btn{
                width: 100%;

                button{
                    border: none;
                    background-color: $main-green;
                    font-size: 20px;
                    letter-spacing: 0.8px;
                    padding: 22px 52px;
                    border-radius: 4px;
                    text-transform: uppercase;
                    cursor: pointer;
                    color: $main-white;
                    font-weight: 700;
                    transition: 0.3s ease-in opacity;
                }

                button:hover{
                    opacity: 0.7;
                }
            }
        }

        .advanced-package{
            .price{
                background-color: $main-orange;
            }

            .package-btn{
                button{
                    background-color: $main-orange;
                }
            }
        }

        .proffesional-package{
            margin-top: 0;
            height: 595px;
            width: 475px;

            .package-title{
                h5{
                    color: $main-blue;
                    font-size: 26px;
                }
            }

            .package-items{
                p{
                    color: $main-blue;
                }

                p:first-child{
                    margin-top: 45px;
                }

                p:last-child{
                    margin-bottom: 55px;
                }

            }

            .price{
                background-color: $main-blue;
            }

            .package-btn{
                // margin-bottom: 45px;

                button{
                    background-color: $main-blue;
                }
            }
        }
    }
}

/* End of price section */
/* Start of testimonials section */
.testimonials-section{
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .testimonial-container{
        width: 100%;
        display: inline-block;
        display: flex;
        flex-direction: row;
        // background-color: $main-blue;
        justify-content: center;
        min-height: 100px;
        width: 700px;
        margin-top: 75px;
        margin-bottom: 105px;
        align-items: center;

        .testimonial-img-container{
            width: 155px;
            height: 175px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 60px;

            .testimonial-img-1{
                // position: relative;
                width: 220px;
                height: 220px;
            }

            .testimonial-img-2{
                width: 115px;
                height: 115px;

                position: absolute;
                z-index: 3;
                top: 30px;
                left: 20px;
            }
        }

        .testimonial-paragraph{
            width: 490px;

            p{
                font-weight: 800;
                color: $main-blue;
                letter-spacing: 0.8px;
            }

            .author-p{
                display: flex;
                flex-direction: column;
                margin-top: 15px;

                p{
                    margin-left: auto;
                    // float: right;
                }
            }
        }
    }
}
/* End of testimonials section */
/* Start of download section */
.download-section{
    width: 100%;
    min-height: 100px;
    background-color: $main-black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 45px;

    h1{
        font-size: 75px;
        margin-bottom: 35px;
        color: $main-white;
    }

    .main-btn{
        color: $main-black;
    }
}
/* End of download section */
/* Start of contact section */

/* End of contact section */