* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: 'Lato', sans-serif;
}

.responsive {
  display: none;
}

.divider {
  height: 0.5px;
  width: 100%;
  background-color: #404d5c;
}

/* Media Queries */
@media (max-width: 1900px) {
  .navbar-container,
  .hero-section,
  .features-section,
  .divider {
    display: none;
  }
  .responsive {
    display: block !important;
  }
}

/* Start of navbar */
.navbar-container {
  height: 120px;
  background-color: #131e29;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 145px;
  font-family: droid-sans, sans-serif;
}

.navbar-title {
  display: inline-block;
  display: flex;
  flex-direction: column;
}

.navbar-title img {
  width: 37px;
  height: auto;
  position: absolute;
  left: 206.5px;
  top: 25px;
}

.navbar-title h2 {
  color: #fff;
  display: inline-block;
  font-size: 45px;
  cursor: pointer;
}

.navbar-title h2 span {
  color: #4bcaff;
}

.navbar-items {
  margin-left: auto;
}

.navbar-items ul li {
  display: inline-block;
  list-style: none;
}

.navbar-items ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
  letter-spacing: 0.8px;
  cursor: pointer;
  transition: 0.3s color ease-in;
  font-weight: 600;
}

.navbar-items ul li a:hover {
  color: #4bcaff;
}

.navbar-items ul li:not(:last-child) {
  margin-right: 30px;
}

/* End of navbar */
/* Start of hero section */
.hero-section {
  width: 100%;
  height: 1035px;
  background: url("../images/hero.png") no-repeat center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section .hero-content {
  margin-left: auto;
  margin-left: 700px;
  margin-top: 85px;
}

.hero-section .hero-content .hero-title h1 {
  color: #fff;
  font-weight: 300;
  font-size: 65px;
  letter-spacing: 0.8px;
  margin-bottom: 35px;
}

.hero-section .hero-content .hero-title p {
  letter-spacing: 1.2px;
  color: #fff;
  line-height: 32px;
  font-size: 22px;
}

.hero-section .hero-btn-container {
  margin-top: 50px;
  margin-bottom: 70px;
}

.hero-section .hero-btn-container .hero-btn-download {
  border: 1px solid #fff;
  background-color: transparent;
  margin-right: 35px;
}

.hero-btn-download,
.main-btn {
  border: none;
  color: #fff;
  font-size: 20px;
  letter-spacing: 0.8px;
  padding: 22px 52px;
  border-radius: 8px;
  text-transform: uppercase;
  cursor: pointer;
}

.main-btn {
  background-color: #4bcaff;
  box-shadow: 0 4px 1px 1px #447084;
}

.hero-app {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hero-app p {
  font-size: 22px;
  color: #fff;
  margin-right: 45px;
  letter-spacing: 1.2px;
}

.hero-app .app {
  width: 65px;
  height: 65px;
  background-color: #414042;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.3s ease-in background-color;
}

.hero-app .app img {
  width: 25px;
  height: auto;
}

.hero-app .app:not(:last-child) {
  margin-right: 25px;
}

.hero-app .app:hover {
  background-color: #d3d3d3;
  cursor: pointer;
}

/* End of hero section */
/* Start of features section */
.features-section {
  background-color: #f9f9f9;
}

.features-section .features-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
  padding-bottom: 100px;
}

.features-section .features-container .feature {
  margin: 0 35px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.features-section .features-container .feature .feature-img-container {
  width: 165px;
  height: 165px;
  background-color: #4bcaff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 45px;
}

.features-section .features-container .feature h3 {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #414042;
  letter-spacing: 0.6px;
  cursor: pointer;
  transition: 0.3s ease-in color;
}

.features-section .features-container .feature h3:hover {
  color: #4bcaff;
}

.features-section .features-container .feature p {
  color: #838383;
  letter-spacing: 0.8px;
  line-height: 25px;
}

.section-title {
  width: 100%;
  text-align: center;
  padding-top: 55px;
  letter-spacing: 0.8px;
}

.section-title h1 {
  font-size: 45px;
  font-weight: 900;
  color: #414042;
}

.section-title h2 {
  color: #414042;
  font-weight: 400;
}

/* End of features section */
/* Start of gallery section */
.gallery-section {
  width: 100%;
  height: auto;
}

.gallery-section .gallery-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
  padding-bottom: 100px;
}

.gallery-section .gallery-container .gallery {
  margin: 0 35px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 350px;
}

.gallery-section .gallery-container .gallery .blue-div {
  width: 100%;
  height: 250px;
  border-radius: 12px;
  background-color: #4bcaff;
}

.gallery-section .gallery-container .gallery .dark-blue-container {
  background-color: #447084;
  width: 100%;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  transform: translateY(-40px);
}

.gallery-section .gallery-container .gallery .dark-blue-container h5 {
  color: #4bcaff;
  padding: 12px 0;
  font-size: 18px;
  text-transform: uppercase;
}

.gallery-section .gallery-container .gallery p {
  color: #838383;
  letter-spacing: 0.8px;
  line-height: 25px;
}

/* End of gallery section */
/* Start of video section */
.video-section {
  width: 100%;
  background: url("../images/image.png") no-repeat center/cover;
  height: 762px;
  padding-top: 130px;
  padding-left: 450px;
}

.video-section h1 {
  color: #fff;
  font-weight: 300;
  font-size: 65px;
  letter-spacing: 0.8px;
  margin-bottom: 65px;
  text-shadow: rgba(0, 0, 0, 0.616) 3px 2px 2px;
}

.video-section .video-section-p-container {
  width: 900px;
  transform: translateX(135px);
}

.video-section p {
  letter-spacing: 1.2px;
  color: #fff;
  line-height: 32px;
  font-size: 22px;
  font-family: sans-serif;
  font-weight: 400;
}

.video-section p:not(:last-child) {
  margin-bottom: 35px;
}

/* End of video section */
/* Start of price section */
.price-section {
  width: 100%;
  height: auto;
}

.price-section .package-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.price-section .package-container .package {
  margin: 0 25px;
  width: 375px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f9f9f9;
}

/* End of price section */
